/* GENERAL */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,h2,h3,h4,h5,h6,p{
  margin: 0;
  padding: 0;
}

ul{
  padding: 0;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  background-color: #000;
  font-family: 'Poppins', Arial, sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

main{
  flex-grow: 1;
}

/* custom scroll bar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #000;
}
::-webkit-scrollbar-thumb {
  background: #19647E;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}