// dark-mode
$main-background-color: #13293D;
$primary-color: #05B2DC;
$dark-blue: #19647E;
$light-color: #fff;
$dark-color: #111;
$font-ubuntu: 'ubuntu', sans-serif, arial; 
$red-color: #F05365;
$yellow-color: #FCBC2E;
$green-color: #22C940;

// light-mode
// $main-background-color: #E8EBF7;
// $main-background-color: #BBCAE0;
// $main-background-color: #ACBED8;
// $main-background-color: #D6D1CD;
// $main-background-color: #E2E6E2;
// $main-background-color: #E5ECE9;
// $main-background-color: #FFFFEA;
// $main-background-color: #B2DDF7;
// $main-background-color: #C1CAD6;
// $main-background-color: #8D99AE;
// $main-background-color: #BDC6D1;
// $main-background-color: #66666E;
// $main-background-color: #333337;
// $main-background-color: #C0C0C5;
