// dark-mode
$main-background-color: #13293D;
$primary-color: #05B2DC;
$dark-blue: #19647E;
$light-color: #fff;
$dark-color: #111;
$font-ubuntu: 'ubuntu', sans-serif, arial; 
$red-color: #F05365;
$yellow-color: #FCBC2E;
$green-color: #22C940;

// light-mode

