@font-face {
  font-family: 'Ibarra Real Nova';
  src: url('../fonts/IbarraRealNova-Bold.woff2') format('woff2'),
    url('../fonts/IbarraRealNova-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Public Sans';
  src: url('../fonts/PublicSans-Regular.woff2') format('woff2'),
    url('../fonts/PublicSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
