@mixin flex($justify) {
  display: flex;
  align-items: center;
  justify-content: $justify;
}

@mixin flex-direction($align, $justify, $flex-direction) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $flex-direction;
}

@mixin bg-image ($size, $position, $width, $height) {
  background-repeat: no-repeat;
  background-size: $size;
  background-position: $position;
  width: $width;
  height: $height;
}

@mixin primaryBtn {
  font-family: $text-font;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  border: 1px solid $main-color;
  box-sizing: border-box;
  color: $main-color;
  padding: 16px 32px;
  text-decoration: none;
  transition: 0.5s ease;

  &:hover {
    background-color: $main-color;
    color: $light-color;
  }
}

@mixin green-link {
  font-family: $text-font;
  font-size: 13px;
  line-height: 30px;
  color: #5FB4A2;
  text-decoration: none;
}

@mixin breakpoint-up ($size) {
  @media only screen and (min-width: $size) {
    @content;
  }
}