@font-face {
    font-family: 'Ibarra Real Nova';
    src: url('IbarraRealNova-Bold.woff2') format('woff2'),
        url('IbarraRealNova-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

