.about{
  background-color: $main-background-color;
  padding: 80px 0 150px 0;
  width: 100%;
  display: block;
  color: #fff;
}

.about__wrapper{
  @include d-flex(space-between);
}

.about__title{
  margin-bottom: 50px;
  letter-spacing: 2px;
  @include d-flex(center);
  text-align: center;
  color: $light-color;
  font-size: 50px;
  font-weight: 800;

  &::before{
    margin-right: 15px;
    width: 50px;
    height: 3px;
    background-color: $light-color;
    content: '';
  }
  &::after{
    margin-left: 15px;
    content: '';
    width: 50px;
    height: 3px;
    background-color: $light-color;
  }
}

.about-details__heading{
  font-size: 30px;
  font-weight: 600;
}

.type__second{
  color: $primary-color;
}

.about__link{
  text-decoration: none;
  color: $light-color;
  background-color: $primary-color;
  padding: 10px;
  border-radius: 10px;
  display: inline-block;
}

.about__wrapper-text{
  width: 700px;
  margin-bottom: 25px;
}