.about{
  background-color: #13293D;
  color: #fff;
  width: 100%;
  padding: 80px 0 150px 0;
}

.about__wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about__title{
  text-align: center;
  margin-bottom: 50px;
  color: #fff;
  letter-spacing: 2px;
  font-size: 50px;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;

  &::before{
    content: '';
    width: 50px;
    height: 3px;
    background-color: #fff;
    margin-right: 15px;
  }
  &::after{
    content: '';
    width: 50px;
    height: 3px;
    background-color: #fff;
    margin-left: 15px;
  }
}

.about-details__heading{
  font-size: 30px;
  font-weight: 600;
}

.type__second{
  color: #05B2DC;
}

.about__link{
  text-decoration: none;
  color: #fff;
  background-color: #05B2DC;
  padding: 10px;
  border-radius: 10px;
  display: inline-block;
}

.about__wrapper-text{
  width: 700px;
  margin-bottom: 25px;
}