.languages__list {
  @include list-unstyled;
  position: absolute;
  top: 0;
  width: 100%;
}

.language__text {
  color: $primary-color;
  position: absolute;
  opacity: 0.2;
}

.language__text--sass {
  top: 0;
  left: 40px;
  font-size: 28px;
}

.language__text--figma {
  top: 30%;
  left: 35%;
  font-size: 18px;
}

.language__text--bem {
  top: 110px;
  left: 20%;
  font-size: 12px;
}

.language__text--html {
  top: 30px;
  left: auto;
  right: 30px;
  font-size: 23px;
}

.language__text--python {
  top: 370px;
  left: auto;
  right: 90px;
  font-size: 18px;
}

.language__text--css {
  top: 250px;
  left: 40px;
  font-size: 14px;
}

.language__text--cplus {
  top: 400px;
  left: 70%;
  font-size: 21px;
}

.language__text--es {
  top: 400px;
  left: 160px;
  font-size: 20px;
}

.language__text--sqlite {
  bottom: -500px;
  left: 400px;
  font-size: 15px;
}

.language__text--jquery {
  top: 80px;
  left: 75%;
  font-size: 18px;
}

.language__text--res {
  top: 470px;
  left: 880px;
  font-size: 13px;
}