// scroll-up
.scroll-up-btn{
  position: fixed;
  right: 30px;
  bottom: 10px;
  text-align: center;
  background-color: $primary-color;
  color: $main-background-color;
  width: 40px;
  height: 45px;
  line-height: 45px;
  z-index: 9999;
  font-size: 30px;
  border-radius: 6px;
  border-bottom-width: 2px;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.scroll-up-btn.show{
  bottom: 30px;
  opacity: 1;
  pointer-events: auto;
}

.scroll-up-btn:hover{
  filter: brightness(90%);
}

// navbar
.navbar {
  padding: 15px 0;
  position: fixed;
  width: 100%;
  z-index: 999;
  transition: all 0.3s ease;
}

.navbar-inner {
  @include d-flex(space-between)
}

.nav-inner{
  display: flex;
  align-items: center;
}

.user-name{
  color: $light-color;
}

.navbar.sticky{
  padding: 0;
  background-color: $dark-blue;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.navbar.sticky .theme-icon{
  background-color: transparent;
  border: none;
}

.theme-icon{
  padding: 0;
  background-image: url(../../icon/sun-icon.svg);
  background-color: transparent;
  @include background-image(contain);
  width: 24px;
  height: 24px;
  border: none;
  outline: none;
  cursor: pointer;
}

.navbar-menu {
  @include list-unstyled;
  display: flex;
  align-items: center;
}
.navbar-menu__item {
  margin-right: 25px;
}
.navbar-menu__link {
  text-decoration: none;
  color: $light-color;
  font-weight: 600;
  transition: color 0.4s ease;

  &:hover{
    color: $primary-color;
  }
}

// about
.about{
  background-color: $main-background-color;
  padding: 80px 0 150px 0;
  width: 100%;
  display: block;
  color: #fff;
}

.about__wrapper{
  @include d-flex(space-between);
}

.about__title{
  margin-bottom: 50px;
  letter-spacing: 2px;
  @include d-flex(center);
  text-align: center;
  color: $light-color;
  font-size: 50px;
  font-weight: 800;

  &::before{
    margin-right: 15px;
    width: 50px;
    height: 3px;
    background-color: $light-color;
    content: '';
  }
  &::after{
    margin-left: 15px;
    content: '';
    width: 50px;
    height: 3px;
    background-color: $light-color;
  }
}

.about-details__heading{
  font-size: 30px;
  font-weight: 600;
}

.type__second{
  color: $primary-color;
}

.about__link{
  text-decoration: none;
  color: $light-color;
  background-color: $primary-color;
  padding: 10px;
  border-radius: 10px;
  display: inline-block;
  transition: all ease 0.4s;

  &:hover{
    opacity: 0.8;
  }
}

.about__wrapper-text{
  width: 700px;
  margin-bottom: 25px;
}

// hero
.hero {
	display: flex;
	height: 100vh;
	width: 100%;
	min-height: 100vh;
	color: $light-color;
	background-image: url(../../img/background-img-2.svg);
	@include background-image(cover);
	background-attachment: fixed;
}

.hero-inner {
	margin: auto;
	display: flex;
	align-items: center;
}

.hero-inner__desc {
	font-family: $font-ubuntu;
	margin-bottom: 10px;
	font-weight: 600;
	font-size: 25px;
}

.hero-inner__name {
	font-family: $font-ubuntu;
	font-size: 65px;
	font-weight: 800;
	margin-bottom: 10px;
}

.type {
	font-family: $font-ubuntu;
	margin: 0 auto;
	width: 200px;
	color: $primary-color;

	&::after {
		content: '|';
		display: inline;
		animation: blink 0.7s infinite;
	}
}

.hero-inner__text {
	font-family: $font-ubuntu;
	color: $light-color;
	font-size: 40px;
	margin-bottom: 25px;
}

/* TODO HERO-RIGHT  */
.hero-right__list {
	@include list-unstyled;
}

.hero-right__btns {
	margin-bottom: 30px;
	display: flex;
	align-items: center;
}

.hero-right__button {
	margin-right: 8px;
	height: 12px;
	width: 12px;
	border: none;
	border-radius: 50%;
	cursor: pointer;

	&:first-child{
		background-color: $red-color ;
	}

	&:nth-child(2){
		background-color: $yellow-color;
	}

	&:last-child{
		background-color: $green-color;
	}

	&.btn__close:hover{
		background-image: url(/icon/close-btn.svg);
		@include background-image (6px);
	}

	&.btn__minus:hover{
		background-image: url(/icon/minus-icon.svg);
		@include background-image (6px);
	}

	&.btn__resize:hover{
		background-image: url(/icon/full-screeen-icon.svg);
		@include background-image (6px);
	}
}

.hero-right__code {
	margin-left: auto;
	padding: 15px 25px 25px 15px;
	width: 440px;
	background-color: $main-background-color;
	box-shadow: rgba(0, 0, 0, 0.05) 0px 5px 10px;
	border-radius: 10px;
}

.hero-right__item {
	pre {
		overflow-x: hidden;
		font-size: 13px;
		font-weight: 300;
		color: $light-color;
		letter-spacing: 0.04px;
	}

	b {
		font-size: 14px;
		font-weight: 900;
	}
}

/*Removes cursor that comes with typed.js*/
.typed-cursor {
	opacity: 0;
	display: none;
}

/*Custom cursor animation*/
@keyframes blink {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@-webkit-keyframes blink {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@-moz-keyframes blink {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

// hero
.service{
  padding: 140px 0 100px;
  background-image: url(/img/background-img-1.svg);
  @include background-image(cover);
  background-attachment: fixed;
  width: 100%;
  color: $light-color;
}

.service__title{
  margin-bottom: 50px;
  color: $light-color;
  letter-spacing: 2px;
  font-size: 50px;
  font-weight: 800;
  @include d-flex(center);

  &::before{
    margin-right: 15px;
    width: 50px;
    height: 3px;
    background-color: $light-color;
    content: '';
  }
  &::after{
    margin-left: 15px;
    width: 50px;
    height: 3px;
    background-color: $light-color;
    content: '';
  }
}

.service__list{
  @include list-unstyled;
  @include d-flex(space-between)
}

.service-list__item{
  padding: 50px 35px;
  border-radius: 10px;
  width: calc(33% - 10px);
  background-color: $main-background-color;
  text-align: center;
  transition: background-color 0.3s ease;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  cursor: pointer;

  &:hover{
    background-color: $dark-blue;
  }
}

.service-list__item:hover .service-list__item-inner{
  transform: scale(1.05);
}

.service-list__item:hover .icon{
  color: #fff;
}

.service-list__item-inner{
  transition: all 0.3s ease;
}


.service-list__title{
  font-weight: 600;
  font-size: 25px;
  margin-bottom: 15px;
}

.icon{
  margin-bottom: 20px;
  font-size: 50px;
  color: $primary-color;
  transition: color 0.3s ease;
}

// skills
.skills {
  padding: 80px 0 150px 0;
  background-color: $main-background-color;
  position: relative;
}

.skills__list {
  @include list-unstyled;
  @include d-flex(space-between);
}

.html{
  color: $primary-color;
  transition: all 0.6s ease;

  &:hover{
    transform: scale(1.1);
    color: #D84925;
  }
}

.css{
  color: $primary-color;
  transition: all 0.5s ease;

  &:hover{
    transform: scale(1.1);
    color: #1c88c7;
  }
}

.js{
  color: $primary-color;
  transition: all 0.5s ease;

  &:hover{
    transform: scale(1.1);
    color: #f0db4f;
  }
}

.react{
  color: $primary-color;
  transition: all 0.5s ease;

  &:hover{
    transform: scale(1.1);
    color: #61dafb;
  }
}

.bootstrap{
  color: $primary-color;
  transition: all 0.5s ease;

  &:hover{
    transform: scale(1.1);
    color: #563D7C;
  }
}

.skills__title {
  margin-bottom: 100px;
  @include d-flex(center);
  color: $light-color;
  font-weight: 800;
  font-size: 50px;
  letter-spacing: 2px;

  &::before {
    margin-right: 15px;
    background-color: $light-color;
    width: 50px;
    height: 3px;
    content: '';
  }

  &::after {
    margin-left: 15px;
    width: 50px;
    height: 3px;
    background-color: $light-color;
    content: '';
  }
}

// languages
.languages__list {
  @include list-unstyled;
  position: absolute;
  top: 0;
  width: 100%;
}

.language__text {
  color: $primary-color;
  position: absolute;
  opacity: 0.2;
}

.language__text--sass {
  top: 0;
  left: 40px;
  font-size: 28px;
}

.language__text--figma {
  top: 30%;
  left: 35%;
  font-size: 18px;
}

.language__text--bem {
  top: 110px;
  left: 20%;
  font-size: 12px;
}

.language__text--html {
  top: 30px;
  left: auto;
  right: 30px;
  font-size: 23px;
}

.language__text--python {
  top: 370px;
  left: auto;
  right: 90px;
  font-size: 18px;
}

.language__text--css {
  top: 250px;
  left: 40px;
  font-size: 14px;
}

.language__text--cplus {
  top: 400px;
  left: 70%;
  font-size: 21px;
}

.language__text--es {
  top: 400px;
  left: 160px;
  font-size: 20px;
}

.language__text--sqlite {
  bottom: -500px;
  left: 400px;
  font-size: 15px;
}

.language__text--jquery {
  top: 80px;
  left: 75%;
  font-size: 18px;
}

.language__text--res {
  top: 470px;
  left: 880px;
  font-size: 13px;
}

// projects
.projects{
  padding: 100px 30px 120px 30px;
  background-image: url(../../img/bgi-light.svg);
  @include background-image(cover);
  background-attachment: fixed;
}

.projects__title{
  margin-bottom: 80px;
  @include d-flex(center);
  color: $light-color;
  letter-spacing: 2px;
  font-size: 50px;
  font-weight: 800;

  &::before{
    margin-right: 15px;
    background-color: $light-color;
    width: 50px;
    height: 3px;
    content: '';
  }
  &::after{
    margin-left: 15px;
    background-color:$light-color;
    width: 50px;
    height: 3px;
    content: '';
  }
}

.projects__list{
  margin-top: -18px;
  margin-bottom: -18px;
  @include list-unstyled;
  @include d-flex(space-between);
  flex-wrap: wrap;
}

.projects__name{
  color: $primary-color;
  text-decoration: underline;
}

.projects__img{
  margin-bottom: 10px;
  width: 100%;
  height: 380px;
  object-fit: cover;
  border-radius: 10px;
  opacity: 0.7;
}

.projects-list__item{
  margin: 18px 0;
  padding: 10px 8px;
  width: calc(33% - 15px);
  background-color: $dark-blue;
  text-decoration: none;
  border-radius: 10px;
  text-align: center;
}

// contact
.contact {
  padding: 80px 0 150px 0;
  background-color: $main-background-color;
  width: 100%;
}

.contact__inner{
  @include d-flex(space-between);
  width: 100%;
}

.contact__title {
  margin-bottom: 80px;
  @include d-flex(center);
  color: $light-color;
  font-size: 50px;
  font-weight: 800;
  letter-spacing: 2px;

  &::before {
    margin-right: 15px;
    width: 50px;
    height: 3px;
    background-color: $light-color;
    content: '';
  }

  &::after {
    margin-left: 15px;
    width: 50px;
    height: 3px;
    background-color: $light-color;
    content: '';
  }
}

.contact__list {
  @include list-unstyled;
  display: flex;
  flex-direction: column;
}

.contact-inner__form{
  width: 550px;
}

.contact-list__details-name{
  margin: 0;
  display: block;
  font-size: 16px;
  font-weight: 400;
  color: $primary-color;
}

.contact-list__item {
  margin-bottom: 20px;
  display: flex;
  align-items: center;

  &:last-child{
    margin-bottom: 0;
  }
}

.contact-form__input{
  margin-bottom: 12px;
  padding: 15px 10px;
  display: block; 
  width: 100%;
  border: none;
  color: $light-color;
  border-bottom: 2px solid $primary-color;
  border-radius: 10px;
  outline: none;
  font-weight: 400;
  background-color: rgba(0, 0, 0, 0.28);

  &::placeholder{
    color: $light-color;
    font-size: 14px;
  }
}

.conact-list__details-info{
  font-weight: 800;
  font-size: 18px;
  color: #e9e9e9;
}

.contact-list__icon{
  margin-right: 25px;
}

.contact-inner__btn{
  margin-top: 20px;
  padding: 10px 15px;
  background-color: $primary-color;
  border: none;
  border-radius: 10px;
  color: $light-color;
  cursor: pointer;
  transition: all 0.4s ease;

  &:hover{
    opacity: 0.8;
  }
}

// socials
.socials{
  margin: 0;
  margin-top: 45px;
  list-style-type: none;
  display: flex;
  align-items: center;
}

.socials__item{
  margin-right: 15px;
}