.about{
  background-image: url(/img/background-img-1.svg);
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  width: 100%;
  padding: 80px 0 150px 0;
}

.about__wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about__title{
  text-align: center;
  margin-bottom: 50px;
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}

.about__wrapper-text{
  width: 800px;
}