.user-name {
  color: $light-color;
}

.theme-icon {
  padding: 0;
  background-image: url(../../icon/sun-icon.svg);
  background-color: transparent;
  @include background-image(contain);
  width: 30px;
  height: 30px;
  border: none;
  outline: none;
  cursor: pointer;
}

.navbar-menu__hamburg {
  background-image: url(../../icon/hamburg-menu.svg);
  @include background-image(contain);
  background-color: transparent;
  border: none;
  width: 30px;
  height: 30px;
  display: none;
  outline: none;
  cursor: pointer;
}

.header__nav {
  @include list-unstyled;
  display: flex;
  align-items: center;
}

.header-nav__item {
  margin-right: 25px;

  &:last-child {
    margin-right: 0;
  }
}

.header-nav__link {
  text-decoration: none;
  color: $light-color;
  font-weight: 600;
  transition: color 0.4s ease;

  &:hover {
    color: $primary-color;
  }
}

@include breakpoint-down(940px) {
  .header__nav {
    position: fixed;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $main-background-color;
    transition: all 0.4s ease;
  }

  .header__nav.active{
    left: 0;
  }
  .navbar-menu__hamburg {
    display: block;
    z-index: 101;
  }

  .navbar-menu__hamburg.active{
    background-image: url(../../icon/close-btn-white.svg);
  }

  .header-nav__item{
    display: block;
    margin: 0;
    font-size: 25px;
    align-items: center;
    margin-bottom: 20px;
  }
}