.navbar {
  padding: 15px 0;
  position: fixed;
  width: 100%;
  z-index: 999;
  transition: all 0.3s ease;
}

.navbar-inner {
  @include d-flex(space-between)
}

.nav-inner{
  display: flex;
  align-items: center;
}

.user-name{
  color: $light-color;
}

.navbar.sticky{
  padding: 0;
  background-color: $dark-blue;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.navbar.sticky .theme-icon{
  background-color: transparent;
  border: none;
}

.theme-icon{
  padding: 0;
  background-image: url(../../icon/sun-icon.svg);
  background-color: transparent;
  @include background-image(contain);
  width: 24px;
  height: 24px;
  border: none;
  outline: none;
  cursor: pointer;
}

.navbar-menu {
  @include list-unstyled;
  display: flex;
  align-items: center;
}
.navbar-menu__item {
  margin-right: 25px;
}
.navbar-menu__link {
  text-decoration: none;
  color: $light-color;
  font-weight: 600;
  transition: color 0.4s ease;

  &:hover{
    color: $primary-color;
  }
}
