.projects {
  padding: 80px 30px;
  background-image: url(../../img/light-bgi.svg);
  @include background-image(cover);
  background-attachment: fixed;
}

.projects__title {
  margin-bottom: 30px;
  @include d-flex(center);
  color: $light-color;
  letter-spacing: 2px;
  font-family: $font-ubuntu;
  font-size: 50px;
  font-weight: 800;

  &::before {
    margin-right: 15px;
    background-color: $light-color;
    width: 50px;
    height: 3px;
    content: "";
  }
  &::after {
    margin-left: 15px;
    background-color: $light-color;
    width: 50px;
    height: 3px;
    content: "";
  }
}

.projects__text {
  margin: 0 auto;
  width: 80%;
  color: $light-color;
  text-align: center;
  margin-bottom: 45px;
}

.project-list {
  width: 100%;
  @include list-unstyled;
  gap: 30px;
  @include d-flex(center);
  flex-wrap: wrap;
}

.projects__name {
  color: $primary-color;
  text-decoration: underline;
}

.project-img {
  margin-bottom: 10px;
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
  opacity: 0.7;
}

.project-item {
  padding: 10px 8px;
  width: calc(25% - 30px);
  background-color: $dark-blue;
  text-decoration: none;
  border-radius: 10px;
  text-align: center;
}

.project-item-body > ul {
  @include list-unstyled;
  @include d-flex(flex-start);
  margin-bottom: 10px;
}

.project-item-body > ul > li {
  padding: 10px;
  margin-right: 10px;
  background-color: rgba(19, 41, 61, 0.6);
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:last-child {
    margin-right: 0;
  }
}

.project-item-body > ul > li > img {
  width: 30px;
  height: 30px;
  object-fit: contain;
}

.project-item-body > span {
  padding: 10px;
  display: block;
  color: #fff;
  font-weight: 600;
  text-decoration: underline;
  background-color: rgba(19, 41, 61, 0.6);
  border-radius: 12px;
}

//new design
.projects-add {
  display: flex;
  flex-direction: row;
  padding: 15px 10px;
  backdrop-filter: blur(12px);
  border: 1px solid rgba(5, 178, 220, 0.6);
  border-radius: 10px;
  margin-bottom: 50px;
}

.projects__wrapper {
  width: 100%;
}

.projects__image {
  width: 550px;
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
  margin-right: 35px;
  opacity: 0.7;
}

.title {
  color: $primary-color;
  font-size: 24px;
  margin-bottom: 20px;
}

.text {
  color: #fff;
  width: 480px;
  margin-bottom: 40px;
}

.languages {
  display: flex;
  align-items: center;
  margin-bottom: 35px;
}

.item {
  margin: 0;
  margin-right: 12px;
  background-color: $dark-blue;
  padding: 5px 10px;
  color: #fff;
  font-size: 12px;
  border-radius: 10px;
}

.link {
  color: $primary-color;
  text-decoration: underline;
}

@include breakpoint-down(1050px) {
  .projects__title {
    font-size: 40px;
    margin-bottom: 50px;
  }

  .project-list {
    flex-wrap: wrap;
    gap: 25px;
  }

  .project-item {
    width: calc(33% - 25px);
  }

  .project-item-body > ul > li > img {
    width: 24px;
    height: 24px;
  }
}

@include breakpoint-down(780px) {
  .project-list {
    gap: 25px;
  }

  .projects__text {
    width: 100%;
  }

  .project-item {
    width: calc(50% - 25px);
  }
}

@include breakpoint-down(580px) {
  .projects__title {
    font-size: 40px;
    margin-bottom: 50px;
  }
}

@include breakpoint-down(520px) {
  .project-item {
    width: 100%;
  }

  .projects__title {
    font-size: 30px;

    &::before {
      width: 30px;
    }

    &::after {
      width: 30px;
    }
  }
}

@include breakpoint-down(380px) {
  .projects__title {
    font-size: 22px;

    &::before {
      width: 25px;
    }

    &::after {
      width: 25px;
    }
  }
}
