.service{
  padding: 140px 0 100px;
  background-image: url(/img/background-img-1.svg);
  @include background-image(cover);
  background-attachment: fixed;
  width: 100%;
  color: $light-color;
}

.service__title{
  margin-bottom: 50px;
  color: $light-color;
  font-family: $font-ubuntu;
  letter-spacing: 2px;
  font-size: 50px;
  font-weight: 800;
  @include d-flex(center);

  &::before{
    margin-right: 15px;
    width: 50px;
    height: 3px;
    background-color: $light-color;
    content: '';
  }
  &::after{
    margin-left: 15px;
    width: 50px;
    height: 3px;
    background-color: $light-color;
    content: '';
  }
}

.service__list{
  @include list-unstyled;
  @include d-flex(space-between)
}

.service-list__item{
  padding: 50px 35px;
  border-radius: 10px;
  width: calc(33% - 10px);
  background-color: $main-background-color;
  text-align: center;
  transition: background-color 0.3s ease;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  cursor: pointer;

  &:hover{
    background-color: $dark-blue;
  }
}

.service-list__item:hover .service-list__item-inner{
  transform: scale(1.05);
}

.service-list__item:hover .icon{
  color: #fff;
}

.service-list__item-inner{
  transition: all 0.3s ease;
}


.service-list__title{
  font-family: $font-ubuntu;
  font-weight: 600;
  font-size: 25px;
  margin-bottom: 10px;
}

.icon{
  margin-bottom: 20px;
  font-size: 50px;
  color: $primary-color;
  transition: color 0.3s ease;
}

@include breakpoint-down(1080px){
  .service__title{
    font-size: 40px;
  }

  .service__list{
    flex-wrap: wrap;
  }

  .service-list__item{
    padding: 30px 20px;
  }

  .service-list__title{
    font-size: 20px;
    margin-bottom: 4px;
  }

  .service-list__text{
    font-size: 14px;
  }

  .icon{
    font-size: 40px;
  }
}

@include breakpoint-down(810px){
  .service-list__item{
    padding: 40px 20px;
    margin-bottom: 20px;
    width: 100%;
    display: flex;
  }
}

@include breakpoint-down(520px){
  .service__title{
    font-size: 30px;

    &::before {
      width: 30px;
      
    }
  
    &::after {
      width: 30px;
    }
  }
}

@include breakpoint-down(380px){
  .projects__title{
    font-size: 22px;

    &::before {
      width: 25px;
      
    }
  
    &::after {
      width: 25px;
    }
  }
}