.skills {
  padding: 80px 0 150px 0;
  background-color: $main-background-color;
  position: relative;
}

.skills__list {
  @include list-unstyled;
  @include d-flex(space-between);
}

.html{
  color: $primary-color;
  transition: all 0.6s ease;

  &:hover{
    transform: scale(1.1);
    color: #D84925;
  }
}

.css{
  color: $primary-color;
  transition: all 0.5s ease;

  &:hover{
    transform: scale(1.1);
    color: #1c88c7;
  }
}

.js{
  color: $primary-color;
  transition: all 0.5s ease;

  &:hover{
    transform: scale(1.1);
    color: #f0db4f;
  }
}

.react{
  color: $primary-color;
  transition: all 0.5s ease;

  &:hover{
    transform: scale(1.1);
    color: #61dafb;
  }
}

.bootstrap{
  color: $primary-color;
  transition: all 0.5s ease;

  &:hover{
    transform: scale(1.1);
    color: #563D7C;
  }
}

.skills__title {
  margin-bottom: 100px;
  @include d-flex(center);
  color: $light-color;
  font-weight: 800;
  font-size: 50px;
  font-family: $font-ubuntu;
  letter-spacing: 2px;

  &::before {
    margin-right: 15px;
    background-color: $light-color;
    width: 50px;
    height: 3px;
    content: '';
  }

  &::after {
    margin-left: 15px;
    width: 50px;
    height: 3px;
    background-color: $light-color;
    content: '';
  }
}

@include breakpoint-down(1050px){
  .skills {
    padding: 80px 0 150px 0;
    background-color: $main-background-color;
    position: relative;
  }

 .skills__icon{
   width: 90px;
   height: 90px;
 }
  
  .skills__title {
    margin-bottom: 70px;
    font-size: 40px;
  }
}

@include breakpoint-down(680px){
  .skills__icon{
    width: 60px;
    height: 60px;
  }
}

@include breakpoint-down(520px){
  .skills__title{
    font-size: 30px;

    &::before {
      width: 30px;
      
    }
  
    &::after {
      width: 30px;
    }
  }
}

@include breakpoint-down(440px){
  .skills__icon{
    width: 40px;
    height: 40px;
  }
}