.skills {
  background-color: #13293D;
  padding: 80px 0 150px 0;
  position: relative;
}

.skills__list {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.skills__title {
  color: #fff;
  font-weight: 800;
  font-size: 50px;
  margin-bottom: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 2px;

  &::before {
    content: '';
    width: 50px;
    height: 3px;
    background-color: #fff;
    margin-right: 15px;
  }

  &::after {
    content: '';
    width: 50px;
    height: 3px;
    background-color: #fff;
    margin-left: 15px;
  }
}

.languages__list {
  position: absolute;
  top: 0;
  width: 100%;
  list-style: none;
  width: 100%;
}

.language__text {
  color: #05B2DC;
  position: absolute;
  opacity: 0.4;
}

.language__text--sass {
  font-size: 25px;
  top: 0;
  left: 40px;
}

.language__text--figma {
  top: 30%;
  left: 35%;
  font-size: 18px;
}

.language__text--bem {
  top: 128px;
  left: 22%;
  font-size: 12px;
}

.language__text--html {
  top: 30px;
  left: auto;
  right: 30px;
  font-size: 23px;
}

.language__text--python {
  top: 490px;
  left: auto;
  right: 90px;
  font-size: 25px;
}

.language__text--css {
  top: 200px;
  left: 40px;
  font-size: 14px;
}

.language__text--cplus {
  top: 400px;
  left: 70%;
  font-size: 21px;
}

.language__text--es {
  top: 360px;
  left: 200px;
  font-size: 20px;
}

.language__text--sqlite {
  bottom: -500px;
  left: 400px;
  font-size: 15px;
}

.language__text--jquery {
  top: 80px;
  left: 75%;
  font-size: 18px;
}

.language__text--res {
  top: 470px;
  left: 880px;
  font-size: 13px;
}