.skills {
  background-color: #13293D;
  padding: 80px 0 150px 0;
}
.skills__list {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.skills__title{
  text-align: center;
  color: #fff;
  font-weight: 800;
  font-size: 50px;
  margin-bottom: 100px;
}

.skills__item {
}