.skills {
  background-color: #13293D;
  padding: 80px 0 150px 0;
  position: relative;
}

.skills__list {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.skills__title {
  color: #fff;
  font-weight: 800;
  font-size: 50px;
  margin-bottom: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 2px;

  &::before {
    content: '';
    width: 50px;
    height: 3px;
    background-color: #fff;
    margin-right: 15px;
  }

  &::after {
    content: '';
    width: 50px;
    height: 3px;
    background-color: #fff;
    margin-left: 15px;
  }
}

