/* main-section */

.about{
  @include flex (space-between);
  flex-direction: column;
  margin-bottom: 115px;
}

.about-desc{
  padding-top: 32px;
  padding-bottom: 68px;
  border-top: 1px solid rgba(51, 50, 61,0.15);
  border-bottom: 1px solid rgba(51, 50, 61,0.15);
}

.self__img-box{
  background-image: url('../../img/self.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  min-height: 400px;
}

.about-heading {
  font-family: $heading-font;
  font-size: 40px;
  line-height: 42px;
  letter-spacing: -0.357143px;
  color: #33323D;
  margin-bottom: 28px;
}

.about-text {
  font-family:$text-font;
  font-size: 16px;
  line-height: 30px;
  color: #33323D;
  mix-blend-mode: normal;
  opacity: 0.8;
  margin-bottom: 32px;
}

.about-btn{
  @include primaryBtn;
}

.self__img-box {
  margin-bottom: 32px;
}

.self__picture {
  width: 100%;
}

.self__img {
  width: 100%;
  display: block;
}

@include breakpoint-up (560px){
  .self__img-box{
    background-position: center center;
  }
}

@include breakpoint-up (768px){
  .about{
    @include flex (space-between);
    flex-direction: row;
  }
  .self__img-box{
    background-image: url('../../img/self-img-tablet@2x.jpg');
    width: 281px;
    height: 590px;
    margin-bottom: 0;
  }

  .about{
   @include flex (space-between);
  }

  .about-text{
    width: 339px;
    font-size: 16px;
  }
}

@include breakpoint-up (968px){
  .self__img-box{
    background-image: url('../../img/self@2x.jpg');
    width: 50%;
    height: 590px;
  }

  .about-desc{
    margin-right: 60px;
  }
}