/* interesting-doing */
.doing {
  margin-bottom: 150px;
  margin-top: 50px;
}

.doing-heading {
  font-family: $heading-font;
  font-size: 40px;
  line-height: 42px;
  text-align: center;
  letter-spacing: -0.357143px;
  color: $main-color;
  margin-bottom: 40px;
}

.doing-button {
  text-align: center;
}

.doing-btn {
  @include primaryBtn
}

@media only screen and (min-width:768px) {
  .doing {
    @include flex (space-between);
  }

  .doing-heading {
    margin-bottom: 0;
    text-align: left;
    position: relative;
    width: 350px;
    margin-top: 0;
  }

  .doing-heading::after {
    position: absolute;
    content: '';
    right: -40%;
    top: 50%;
    background-color: rgba(51, 50, 61, 0.15);
    height: 1px;
    width: 113px;
  }
}

@media only screen and (min-width:900px) {
  .doing-heading::after {
    width: 280px;
    right: -80%;
  }
}


@media only screen and (min-width:1100px) {
  .doing-heading::after {
    width: 484px;
    left: 100%;
  }
}


@media only screen and (min-width:1200px) {
  .doing-heading::after {
    width: 510px;
    left: 110%;
  }
}