.fylo {
  @include flex (space-between);
  margin: 64px 0 65px 0;
  border-top: 1px solid rgba(51, 50, 61, 0.15);
  border-bottom: 1px solid rgba(51, 50, 61, 0.15);
}

.fylo-left {
  border-right: 1px solid rgba(51, 50, 61, 0.15);
  width: 50%;
  height: 100%;
  padding: 32px 0;
  display: flex;
  align-items: center;
}

.fylo-left__info{
  padding-left: 25px;
}

.fylo-right {
  display: flex;
  align-items: center;
  text-align: right;
  margin-left: auto;
  padding: 32px 0;
}

.fylo-right__info{
  padding-right: 25px;
}

.fylo-title {
  font-family: $heading-font;
  font-size: 25px;
  line-height: 36px;
  letter-spacing: -0.285714px;
  color: $main-color;
  margin-bottom: 5px;
}

.fylo-content {
  font-family: $text-font;
  font-size: 14px;
  line-height: 30px;
  color: $main-color;
  mix-blend-mode: normal;
  opacity: 0.5;
}

@include breakpoint-up (768px){
  .fylo-title{
    font-size: 32px;
  }

  .fylo-content{
    font-size: 16px;
  }
}