/* get-section */
.get {
  border-top: 1px solid rgba(51, 50, 61, 0.15);
  border-bottom: 1px solid rgba(51, 50, 61, 0.15);
  padding:32px 0;
  margin-bottom: 34px;
  mix-blend-mode: normal;
}

.get-title {
  font-family: $heading-font;
  font-size: 40px;
  line-height: 42px;
  letter-spacing: -0.357143px;
  color: $main-color;
  margin-bottom: 24px;
  margin-top: 0;
}

.get-desc {
  font-family: $text-font;
  font-size: 15px;
  line-height: 30px;
  color: $main-color;
  margin-bottom: 24px;
  mix-blend-mode: normal;
  opacity: 0.8;
  margin-top: 0;
}

.get-social__link {
  text-decoration: none;
  margin-right: 15px;
}

.get-social__link:last-child {
  margin-right: 0;
}


@media only screen and (min-width:980px) {
  .get {
    display: flex;
    justify-content: space-between;
  }

  .get-desc {
    width: 635px;
  }
}