.manage-section__img {
  margin-bottom: 40px;
  width: 100%;
}

.manage-site__title {
  font-family: $heading-font;
  font-size: 40px;
  line-height: 42px;
  letter-spacing: -0.357143px;
  color: $main-color;
  margin-bottom: 24px;
}

.manage-site__text {
  font-family: $text-font;
  font-size: 15px;
  line-height: 30px;
  color: $main-color;
  opacity: 0.8;
  margin-bottom: 24px;
}

.manage-section__links {
  list-style-type: none;
  padding-bottom: 5px;
}


.manage-section__link {
  @include green-link;
  display: block;
  margin-bottom: 15px;
}

.manage-section__btn {
  @include primaryBtn;
}

.manage-section__info-site {
  padding: 30px 0 50px 0;
  margin-bottom: 24px;
  border-bottom: 1px solid rgba(51, 50, 61, 0.15);
  border-top: 1px solid rgba(51, 50, 61, 0.15);
}

.manage-background__title {
  font-family: $heading-font;
  font-size: 32px;
  line-height: 42px;
  letter-spacing: -0.285714px;
  color: $main-color;
  margin-bottom: 24px;
}

.manage-background__desc {
  font-family: $text-font;
  font-size: 15px;
  line-height: 30px;
  color: $main-color;
  opacity: 0.8;
  margin-bottom: 40px;
}

.manage-background__content {
  @extend .manage-background__title;
}

.manage-background__img{
  width: 100%;

  &:not(:last-child){
    margin-bottom: 32px;
  }
}

@include breakpoint-up (768px){
  .manage-site__text{
    width: 535px;
  }
}
@include breakpoint-up (980px){
  .manage-section__info{
    display: flex;
    justify-content: space-between;
  }

  .manage-section__info-site{
    margin-right: 90px;
    padding-top: 25px;
    height: 450px;
    margin-bottom: 0;
  }

  .manage-site__text{
    width: 350px;
  }
}

@include breakpoint-up (1110px){
  .manage-section__info-site{
    margin-right: 125px;
  }
}