.header {
  @include flex (space-between);
  padding: 40px 0;
  position: relative;
  z-index: 1;
}

.header-hamburg__btn {
  background-image: url(../../img/hamburg-menu.svg);
  @include bg-image (contain, center, 24px, 14px);
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}


.header-top__open .header-hamburg__btn {
  background-image: url("../../img/X.svg");
}
